* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(resources/images/library.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode:hard-light;
}

.book-contents {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.btn {
  padding: 10px;
  background-color: blue;
  color: white;
  font-size: 32px;
  border: none;
  border-radius: 10px;
}

.book-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* border: 1px solid gray; */
  padding: 50px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(127, 255, 212, 0.339);
  border-radius: 10px;
}

label {
  display: inline;
  font-weight:bolder;

}

input {
  display: inline;
  width: 300px;
  height: 40px;
  margin-left: 15px;
}

.read {
  display: flex;
  align-items: center;
}

input[type ="submit"] {
  border: none;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
}

#library-container {
  font-size: x-large;
  padding: 50px;
  width: 350px;
  height: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  background-color:  rgba(127, 255, 212, 0.339);;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
    color: red;
    font-size: 24px;
}

h1 {
    color: blue;
    font-style:oblique;
    transition: width 5s, height 5s;
    
}

h1:hover {
    width: 400px;
    height: 100px;
}

.read-button {
    background-color: brown;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    font-weight: bold;  
}

.toggle {
    background-color: brown;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    font-weight: bold;  
}

.card-content p{
    color: black;
}

.book-title {
    color: brown;
    padding-bottom: 3px;
}

.book-author {
    color:chartreuse
}

@media only screen and (max-width:768px) {
    .book-contents {
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
    }
    
}